/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.ancor{
    -fx-background-image:url("img.png");
    -fx-background-size: cover;  
}
.anclose:hover{
	-fx-opacity: 1.0;
}